:root {
    --blue-bacground: rgb(31, 169, 255);
    --gray-bacground: rgba(169, 181, 183, 0.345);
}

body {
    background-color: var(--gray-bacground);
    font-family: "Roboto", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.hLogo {
    color: rgb(255, 196, 0);
    font-size: 45px;
    transform: translateY(12px);
}

.notification {
    font-size: 26px;
}

.leftHeader .name {
    font-size: 17px;
    font-weight: 400;
    transform: translateY(-5px);
}

.nav {
    color: white;
    background-color: var(--blue-bacground);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 4vw;
}


.nav .nav_right {
    display: flex;
    gap: 15px;
    align-items: end;
    padding: 1vh;
}

.nav_right .name{
    font-size: 20px;
    padding-bottom: 4px;
}

.nav .nav_left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav .left .nLogo {
    color: rgb(255, 196, 0);
    font-size: 65px;
}

.greeting .name {
    font-size: 27px;
    font-weight: 700;
}

h1 {
    font-size: 23px;
    font-weight: 900;
}

.projects {
    overflow: auto;
    padding: 1vh 3%;}

.cards {
    overflow: auto;
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(1, minmax(max(100px, 23vh), 1fr));
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-auto-rows: minmax(max(100px, 23vh), 1fr);
}

.projects .card {
    background-color: white;
    padding: 20px;
    border-left: solid rgb(255, 196, 0) 7px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    margin: 3px;
}

.projects .card:hover{
    background-color: rgb(235, 235, 235);
}

.card .title {
    font-weight: 800;
    font-size: 20px;
}

.card .icons {
    display: flex;
    align-self: flex-end;
}

.card .content {
    font-size: 15px;
}

.btn {
align-self: center;
}

.btn #new_btn{
    background-color: rgb(255, 196, 0);
    color: var(--blue-bacground);
    font-weight: 800;
    height: 5vh;
    width: 15vw;
    border: none;
    border-radius: 10px;
    font-size: 2vh;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);

}

.btn #new_btn:hover{
    height: 6vh;
    width: 17vw;
}

.btn #new_btn:active{
    height: 5vh;
    width: 15vw;
}

#new_book{
    text-align: center;
    font-size: 25px;
    border: none;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
    color: black;
    background-color: rgb(236, 248, 253);
}

::backdrop{
    background-color: rgba(31, 169, 255, 0.231);
}
#new_book h1{
    font-size: 30px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
    height: 40vh;
    padding-top: 30px;
    align-items: center;
}

.wrapper div{
    display: flex;
    gap: 15px;
}

.wrapper input{
    width: 20vw;
    height: 30px;
    background-color: var(--gray-bacground);
    border-radius: 5px;
    font-size: 17px;
    border: solid black 1px;
}

.wrapper input:hover{
    width: 21vw;
    height: 31px;
}

.wrapper .buttons{
    padding-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.wrapper button {
    background-color: var(--blue-bacground);
    color:white ;
    font-weight: 800;
    height: 4vh;
    width: 12vw;
    border: none;
    border-radius: 10px;
    font-size: 1.8vh;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}

.wrapper button:hover{
    height: 5vh;
    width: 13vw;
}

.wrapper button:active{
    height: 4vh;
    width: 12vw;
}

.remove_btn {
    background-color: var(--blue-bacground);
    color:white ;
    font-weight: 800;
    height: 4vh;
    width: 12vw;
    border: none;
    border-radius: 10px;
    font-size: 1.8vh;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}

.remove_btn:hover{
    height: 5vh;
    width: 13vw;
}

.remove_btn:active{
    height: 4vh;
    width: 12vw;
}
